.bg-play-next {
  .align-vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .align-horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



input {
  width: 20rem;
}