@use 'nerdy-lib/src/mixins' as mixins;

.align-vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.align-horizontal {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 1.2rem;
  font-size: 1rem;
}

th {
  font-weight: bold;
  text-align: left;
}

h2 {
  text-align: center;
}

.search-section {
  .input-username {
	width: 10rem;
  }

  .input-number {
	width: 3rem;
  }

  .fetch-date {
	margin-top: 0.2rem;
	font-size: 0.8rem;
	color: var(--gray);
  }
}

.filter-section {
  margin-top: 0.5rem;
  font-size: 1rem;

  input {
	width: 2rem;
  }

  .input-game-name {
	width: 15rem;
	height: 1.4rem;
  }
}

.games-table {
  border-collapse: collapse;

  @include mixins.desktop {
    width: 50%;
  }

  .game {
    border-bottom: 1px solid gray;
  }

  .players {
    width: 4rem;
  }

  .time {
    width: 4rem;
  }
}

.footer {
  width: 100%;
  font-size: 0.6rem;
  color: var(--gray);
  text-align: center;

  a, a:hover, a:active {
    color: var(--gray);
    text-decoration: none;
  }
}
