.bg-play-next-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  .title-icon {
    height: 3rem;
    border-radius: 0.5rem;
  }

  .title-text {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

}

.align-vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.align-horizontal {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-username {
  width: 10rem;
}

.input-number {
  width: 3rem;
}

th {
  font-weight: bold;
  text-align: left;
}

h1 {
  text-align: center;
}

.games-table {
  border-collapse: collapse;

  .game {
    border-bottom: 1px solid gray;
  }

  .players {
    width: 4rem;
  }

  .time {
    width: 4rem;
  }
}

.footer {
  width: 100%;
  font-size: 0.6rem;
  color: var(--gray);
  text-align: center;

  a, a:hover, a:active {
    color: var(--gray);
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .games-table {
    width: 50%;
  }
}